.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

.modal-container {
    position: fixed;
    z-index: 1;
    inset: 0;    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: green;
}

.content-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    max-width: 80%;
    width: 100%;
    height: 50%;
    background-color: aqua;
    animation-name: modalAnimation;
    animation-duration: 0.5s;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 5rem;
    background-color: yellow;
}

.close-modal-icon {
    font-size: 2rem;
    cursor: pointer;
}

.body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 100%;
    width: 100%;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 5rem;
    width: 100%;
    background-color: yellow;
}

@keyframes modalAnimation {
    from {
        top: -15rem;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}